{% extends 'base.html' %}
{% block title %}Task 5{% endblock %}
{% block body %}
<div class='field'>
        <form action="POST">
            <h1>Input samples</h1>
            <input type="text" id='sample-1' placeholder='Input sample A'>
            <input type="text" id='sample-2' placeholder='Input sample B'>
            <input type="submit"  id='result' value='Solve'>
        </form>
        <div class='result-block'>

        </div> 
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/t05.js') }}"></script>
{% endblock %}