<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">  
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet"> 
</head>
<body >
    <nav>
        <div class='nav-wrapper'>
            <button id='t01'>Task 01</button>
            <button id='t02'>Task 02</button>
            <button id='t03'>Task 03</button>
            <button id='t04'>Task 04</button>
            <button id='t05'>Task 05</button>
        </div>     
    </nav>
    <section class='main'>
        {% block body %}
        {% endblock %}
    </section>
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/ripples/jquery.ripples-min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block js %}
    {% endblock %}
</body>
</html>