<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        h1 {
            font-family: Georgia, Times, 'Times New Roman';
        }
        img {
            height: 85vh;
        }
    </style>
    <img src="https://pngicon.ru/file/uploads/anime-girls.png" alt="">
    <h1>Ты заблудился мальчик мой... 404 </h1>
</body>
</html>